APP_NAME="Minecraft Server List"
APP_URL="http://localhost:8080/"
APP_TIMEZONE="America/New_York"

DB_HOST="db"
DB_USERNAME="root"
DB_PASSWORD="root"
DB_DATABASE="serverlist"

PAYPAL_EMAIL=""
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
PAYPAL_SANDBOX=true
